<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00am-10:15am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-inflammation/09-supp-intro-rstudio.html">Introduction to RStudio</a>,
            <a href="https://swcarpentry.github.io/r-novice-inflammation/07-knitr-R.html">Dynamic Reports with knitr</a> and
            <a href="https://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data.html">Analyzing patient data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:15am-10:30am</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:30am-11:45am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data.html">Analyzing patient data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:45am-12:30pm</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:30pm-1:45pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data.html">Analyzing patient data</a> and
            <a href="https://swcarpentry.github.io/r-novice-inflammation/02-func-R.html">Creating functions</a>
       </td>     <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:45pm-2:00pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>2:00pm-3:15pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-inflammation/02-func-R.html">Creating functions</a>
        </td>     <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:15pm-3:30pm</td>        <!-- time    -->
        <td>Closing</td>        <!-- content -->
      </tr>

    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>9:00am-10:15am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-inflammation/03-loops-R.html">Analyzing multiple data sets</a>
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:15am-10:30am</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:30am-11:45am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-inflammation/03-loops-R.html">Analyzing multiple data sets</a>
            </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:45am-12:30pm</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:30pm-1:45pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-inflammation/04-cond.html">Making choices</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:45pm-2:00pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>2:00pm-3:15pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-inflammation/04-cond.html">Making choices</a> and
            <a href="https://swcarpentry.github.io/r-novice-inflammation/12-supp-factors.html">Understanding factors</a> </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:15pm-3:30pm</td>        <!-- time    -->
        <td>Closing</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
